#header
{
    position: fixed;
    top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
}
.con
{
    margin-top: 20px;
    font-size: large;
    font-style: italic;
    font-weight: 700;
    font-family: "cursive"

}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.cont2
{
    bottom: 20px;
    position: relative;
}
.imgcontainer
{
    background: url("support.jpg");
    height: 100px;
    background-size: cover;
    margin: 5px;
    background-repeat: no-repeat;
    margin-top: 140px;
  
}
.support
{
    color:white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    top:20px;
    position: relative;
}

.support1
{
    background-color: white;
    background-size: cover;
}
.support2
{
    bottom: 4px;
    position: relative;
}
.section1
{
   
     width: 360px;
     text-align: center;
     border: 2px;
     margin: 20px;

}
.new
{
    color: black;
   
    font-size: 40px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-size: cover;
    margin: 20px;
   
}
.new1
{
    color: black;
    font-size: 20px;
    font-weight: 100;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
   
}

.faqs
{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}
.faqsec
{
    color: black; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-right: 40px;
    top: 25px;
     position: relative; 
}